<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Meniul nostru ofera specialitati de cafea, ceai, matcha si preparate sushi cu optiunea de comanda online si livrare.">
        <meta name="keywords" content="cafea, sushi, matcha, fusion, maki, nigiri, produse, <%- locals.prod.nume %>">
        
        <title>Produs <%- locals.prod.nume %></title>
        <%- include("../fragmente/head") %>
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    
    <body>
        
        <header>
    
            <%- include("../fragmente/nav") %>     
        </header>

        <main>
            <section>
                <h2>Pagină produs</h2>
                    <article id="art-produs">
                        <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                        <p>Preț: <span class="pret"><%- locals.prod.pret %> RON</span></p>
                        <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                        <p>Ingrediente: <span class="ingrediente"><%- locals.prod.ingrediente %> </span></p>
                        <p>Calorii: <span class="calorii"><%- locals.prod.calorii %> kcal</span></p>
                        <p>Cantitate: <span class="cantitate"><%- locals.prod.cantitate %> ml/g</span></p>
                        <p>Categorie principală: <span class="categorie-mare"><%- locals.prod.categorie_mare %> </span></p>
                        <p>Subcategorie: <span class="categorie-mica"><%- locals.prod.categorie_mica %> </span></p>
                        <p>Mod de servire: <span class="temperatura-servire"><%- locals.prod.temperatura_servire %> </span></p>
                        <p>Vegan: <span class="vegan"><%- locals.prod.este_vegan ? 'Da' : 'Nu' %> </span></p>
                        <p>Data adăugare: <span class="data-adaugare"><%- locals.prod.data_adaugare %> </span></p>
                        <figure class="imag-produs">
                            <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                        </figure>    
                    </article>
                
            </section>
        </main>

        <%- include("../fragmente/footer") %>
    </body>
</html>